.infoCart {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}
.containerCart {
  background-color: rgb(248 249 250);
  border-radius: 12px;
  padding: 10px 30px;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}
.contentCart {
  display: flex;
  background-color: rgb(248 249 250);
}
.photoCart {
  width: 120px;
  margin: 0 30px 0 0;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}
.fa-plus {
  color: green;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}
.fa-minus {
  color: red;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}
