body {
  margin: 0;
  font-family: Book Antiqua;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b2b4b5;
  color: black;
  width: 100%;
  word-wrap: break-word;
}

code {
  font-family: Book Antiqua;
}
h1 {
  font-size: 20px;
}
.fa {
  cursor: pointer;
}
